@import './variables.scss';

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
  padding: 0 1em;

  .usuario {
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      margin-right: 1em;
      font-weight: bolder;
    }

    svg {
      background-color: $secondary-color;
      padding: .5em;
      color: $background-color;
      border-radius: $border-radius;
      cursor: pointer;
    }
  }
}

.titulo {
  display: flex;
  padding: 0.3em 2em;
  background-color: $primary-color;
  border-radius: $border-radius;
  margin-bottom: 2.5em;
  justify-content: space-between;
  align-items: center;
  box-shadow: $box-shadow;

  h2 {
    color: $accent-color;
  }

  .botones {
    display: flex;
  }
}

.boton {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-decoration: none;
  cursor: pointer;
  padding: 1em 2em;
  width: 100px;
  border-radius: $border-radius;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color .2s ease-in-out;

  display: flex;
  justify-content: center;
  align-items: center;

  &:not(:last-child) {
    margin-right: 1em;
  }

  &:focus {
    outline: none;
  }

  &.primary {
    background-color: $accent-color;
    color: $background-color;
    border: 2px solid $accent-color;

    &:hover {
      background-color: darken($accent-color, 5);
    }
  }

  &.secondary {
    background-color: $secondary-color;
    color: $background-color;
    border: 2px solid $secondary-color;

    &:hover {
      background-color: darken($secondary-color, 5);
    }
  }

  &.inverted {
    background-color: transparent;
    padding: 0.5em 1em;
    border: 2px solid $secondary-color;

    &:hover {
      background-color: lighten($secondary-color, 50);
    }
  }
}

form {
  padding: 2em;
  box-shadow: $box-shadow;
  border-radius: $border-radius;
  display: flex;
  flex-direction: column;

  .input-group {
    display: grid;
    grid-gap: 2em;

    &.col-1 {
      grid-template-columns: 1fr;
    }

    &.col-2 {
      grid-template-columns: 1fr 1fr;
    }

    &.col-6 {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    label {
      flex: 1;
      display: flex;
      flex-direction: column;
      font-size: 1.2rem;
      margin-bottom: 1em;

      input {
        height: 2em;
        border: 0.5px solid $primary-color;
        border-radius: $border-radius;
        padding: 0.5em 0.7em;
        margin: 0.3em;
      }
    }
  }

  .boton {
    align-self: flex-end;
  }
}

table {
  border-radius: $border-radius;

  width: 100%;
  box-shadow: $box-shadow;
  background-color: transparent;
  margin-bottom: 5em;

  tr:first-child {
    th:first-child {
      border-top-left-radius: $border-radius;
    }

    th:last-child {
      border-top-right-radius: $border-radius;
    }
  }

  tr:last-child {
    td:first-child {
      border-bottom-left-radius: $border-radius;
    }

    td:last-child {
      border-bottom-right-radius: $border-radius;
    }
  }

  tr + tr {
    td {
      border-top: 1px solid rgba($primary-color, .2);
    }
  }

  th {
    background-color: $primary-color;
    color: $accent-color;
    text-align: left;
  }

  th, td {
    padding: 1.5em 0.5em;

    &:first-of-type {
      padding-left: 2em;
    }
  }
}

table, th, td {
  border-collapse: separate;
  border-spacing: 0;
}

select {
  height: 3em;
  border-radius: $border-radius;
  border: 0.5px solid $primary-color;
  padding: 0.5em 0.7em;
  background-color: white;

  &:focus {
    outline: none;
  }
}