@import './variables.scss';

#root {
  margin: unset;
  height: 100vh;
}

.login {
    flex-direction: column;
    height: 100%;
    padding: 2em 0;
    justify-content: center;
    align-items: center;
    display: flex;
    box-sizing: border-box;
}

.titulo {
  width: 50%;
}

.form-login {
  width: 50%;
}
