@import './variables.scss';
@import './componentes.scss';

.login {
    flex-direction: column;
    height: 100%;
    padding: 2em 0;
    justify-content: center;
    align-items: center;
    display: flex;
    box-sizing: border-box;

    .titulo, .form {
      width: 30%;
    }
}
