@import './variables.scss';

.titulo {
  display: flex;
  padding: 0.3em 2em;
  background-color: $primary-color;
  border-radius: $border-radius;
  margin-bottom: 2.5em;
  justify-content: space-between;
  align-items: center;
  box-shadow: $box-shadow;

  h2 {
    color: $accent-color;
  }
}

.boton {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-decoration: none;
  cursor: pointer;
  padding: 1em 2em;
  width: 100px;
  border-radius: $border-radius;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color .2s ease-in-out;

  display: flex;
  justify-content: center;
  align-items: center;

  &:not(:last-child) {
    margin-right: 1em;
  }

  &:focus {
    outline: none;
  }

  &.primary {
    background-color: $accent-color;
    color: $background-color;
    border: 2px solid $accent-color;

    &:hover {
      background-color: darken($accent-color, 5);
    }
  }

  &.secondary {
    background-color: $secondary-color;
    color: $background-color;
    border: 2px solid $secondary-color;

    &:hover {
      background-color: darken($secondary-color, 5);
    }
  }
}